<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Acerca de nosotros</title>
    <link rel="stylesheet" href="../CSS\Acerca.css">
</head>
<body>
    <!-- Incluimos la barra de navegación -->
    <div id="navbar"></div>

    <div class="contenido">
        <section class="header">
            <h1>Acerca de Nosotros</h1>
        </section>
    
        <section id="nosotros">
            <h2>Grupo 6</h2>
            <p>Somos el Grupo 6, creadores de esta paginas web. Gracias por visualizarla.</p>
            <h3>Autores de la páginas:</h3>
            <ul class="lista">
                <li>Mateo Veliz Montenegro</li>
                <li>Chiriguaya Alvarez Erick</li>
                <li>Lalama Bermudez Antonieta</li>
                <li>Castro Cañizares Bryan</li>
            </ul>
        </section>
    </div>

    <div id="footer"></div>
    <script src="../JS/CargarComponentes.js"></script>
    <script src="../JS/BusquedaVuelos.js"></script>
</body>
</html>