<!DOCTYPE html>
<html lang="es">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"content="viajes, vacaciones, lima, peru, colombia, ecuador, europa, asia, latinoameria, mundo, vuelos">

    <title>Tour</title>

    <link rel="stylesheet" href="../CSS/Tour.css">
</head>

<body>

    <div class="header">

        <!-- Incluimos la barra de navegación -->
        <div id="navbar"></div>

    </div>


    <div class="cuerpo">

        <div>
            <h1>PAQUETES TURÍSTICOS</h1>
            <h3>Vive Nuevas Experiencias</h3>
        </div>

        <div class="mycontainer">

            <div>
                <image class="img" src="../Img/galapagos.jpg" width="480" height="380"></image>
                <h4>
                    <p>VACACIONES EN GALAPAGOS</p>
                </h4>
                <p style="text-align:center;">GALÁPAGOS BLUE <br>– 
                    STA CRUZ (1 ISLA) <br>– BOLETO AÉREO<br>
                    TEMPORADA VACACIONAL 2024</p>
                <p class="price"><i class="fas fa-dollar-sign"></i> 1700</p>
                <p class="duration"><i class="fas fa-clock"></i> 5 días - 4 noches</p>
                <p class="weather"><i class="fas fa-sun"></i> Clima cálido</p>
            </div>

            <div>
                <image class="img" src="../Img/lima.jpeg" width="480" height="380"> </image>
                <h4>
                    <P>DISFRUTA DE LIMA</P>
                </h4>
                <p style="text-align:center;">Colorida experiencia de pueblo!<br> Almuerzo<br> Ticket de ingreso al Centro Arqueológico<br></p>
                <p class="price"><i class="fas fa-dollar-sign"></i> 900</p>
                <p class="duration"><i class="fas fa-clock"></i> 2 días - 1 noche</p>
                <p class="weather"><i class="fas fa-cloud"></i> Clima desertico</p>
            </div>

            <div>
                <image class="img" src="../Img/asia.jpg" width="480" height="380"></image>
                <h4>
                    <P>CONOCE LAS NOVEDADES DE ASIA</P>
                </h4>
                <p style="text-align:center;">Conocerás más de cerca de la cultura  asiática!<br>Visita a las ciudades de (Beijing – Xian – Shanghai)<br> Traslados Aeropuerto / Hotel / Aeropuerto.<br>7 noches de Alojamiento en Hoteles 5* <br>con Desayuno Americano. Sin bebidas.</p>
                <p class="price"><i class="fas fa-dollar-sign"></i> 1900</p>
                <p class="duration"><i class="fas fa-clock"></i> 6 días - 5 noches</p>
                <p class="weather"><i class="fas fa-cloud"></i> Clima templado</p>
            </div>

            <div>
                <image class="img" src="../Img/cartagena.jpeg" width="480" height="380"></image>
                <h4>
                    <P>EL MEJOR FOLCKLOR DEL MUNDO</P>
                </h4>
                <p style="text-align:center;">Cartagena de Indias Básico<br> 5 DIAS 4 NOCHES<br>Hotel Almirante Cartagena<br>SEGURO DE VIAJE</p>
                <p class="price"><i class="fas fa-dollar-sign"></i> 1100</p>
                <p class="duration"><i class="fas fa-clock"></i> 4 días - 3 noches</p>
                <p class="weather"><i class="fas fa-cloud"></i> Clima templado</p>
            </div>

            <div>
                <image class="img" src="../Img/florida.jpg" width="480" height="380"></image>
                <h4>
                    <P>VERANO EN MIAMI</P>
                </h4>
                <p style="text-align:center;">¡VERANO EN FLORIDA!<br> MIAMI + ORLANDO<br> UNIVERSAL E ISLA DE LA AVENTURA<br>
                <p class="price"><i class="fas fa-dollar-sign"></i> 2200</p>
                <p class="duration"><i class="fas fa-clock"></i> 8 días - 7 noches</p>
                <p class="weather"><i class="fas fa-cloud"></i> Clima templado</p>
            </div>

            <div>
                <image class="img" src="../Img/cancun.jpg" width="480" height="380"></image>
                <h4>
                    <p> PLAYAS EN CANCÚN</p>
                </h4>
                <p style="text-align:center;">Ven y disfruta del Tour a Cancún!<br> Desayuno, Almuerzo y Cena Tipo Buffet y Snack Bar incluidos.<br>Zonas exclusivas de adultos</p>
                <p class="price"><i class="fas fa-dollar-sign"></i> 1300</p>
                <p class="duration"><i class="fas fa-clock"></i> 5 días - 4 noches</p>
                <p class="weather"><i class="fas fa-cloud"></i> Clima templado</p>
            </div>

        </div>
    </div>
    
    <!-- Incluimos el footer -->
    <div id="footer"></div>

    <script src="../JS/CargarComponentes.js"></script>
    <script src="../JS/Tour.js"></script>

</body>

</html>